html,
body {
  scroll-behavior: smooth;
  font-family: system-ui, sans-serif;
  background-color: #E8F2FF;
  letter-spacing: -0.5px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    margin-top: 12rem;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#googleTrend, #history, #interaction1, #betting-platforms, #interaction-results {
    margin-left: 12rem;
    margin-right: 12rem;
}


/* HISTORY SECTION */
/* https://www.w3schools.com/howto/howto_css_timeline.asp */
/* The actual timeline (the vertical ruler) */
#history .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
#history .timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
#history .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
#history .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
#history .left {
  left: 0;
}

/* Place the container to the right */
#history .right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
#history .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
#history .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
#history .right::after {
  left: -12px;
}

/* The actual content */
#history .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}